.container
    .content#sticky
        .content__title
            h1 customers (kol/hcp/advocacy/other)
            span.btn.btn--add
        .content__filter.js-filter-btns
            a(href="#" class="btn btn--filter icon icon--filter filter")
                +icon('filter')
                span Refine
            a(href="#" class="btn btn--filter active")
                span Show Mutual Requests
            a(href="#" class="icon icon--search")
                +icon('search')
        .content__options#options
            form.content__options-form
                .content__options-row
                    .content__options-item
                        span.content__options-title arranged by
                        select
                            option First Name
                            option Last Name
                            option Nickname
                    .content__options-item
                        span.content__options-title name
                        input(type="text" name="name")
                    .content__options-item
                        span.content__options-title title
                        input(type="text" name="title")
                .content__options-row
                    .content__options-item
                        span.content__options-title company
                        input(type="text" name="company")
                    .content__options-item
                        span.content__options-title country
                        select
                            option First Name
                            option Last Name
                            option Nickname
                    .content__options-item
                        span.content__options-title state
                        select
                            option First Name
                            option Last Name
                            option Nickname
                .content__options-row
                    .content__options-item
                        span.content__options-title arranged by
                        select
                            option First Name
                            option Last Name
                            option Nickname
                    .content__options-item
                        span.content__options-title name
                        input(type="text" name="name")
                    .content__options-item
                        span.content__options-title title
                        input(type="text" name="title")
                .content__options-row
                    .content__options-item
                        span.content__options-title company
                        input(type="text" name="company")
                    .content__options-item
                        span.content__options-title country
                        select
                            option First Name
                            option Last Name
                            option Nickname
                    .content__options-item
                        span.content__options-title state
                        select
                            option First Name
                            option Last Name
                            option Nickname
    .elements
        .elements__item
            .elements__symbol b
            a(href="#" data-status="confirmed").elements__unit
                .elements__str
                .elements__info
                    span.elements__name.js-name Jackie Bower
                    span.elements__where Executive Director
                    span.elements__subject Clean Label Project
                    span.elements__status confirmed
            a(href="#" data-status="pending").elements__unit
                .elements__str
                .elements__info
                    span.elements__name.js-name Lai Brooks
                    span.elements__where Advanced Practice Registered Nurse
                    span.elements__subject Lebonheur Comprehensive Epilepsy Program
                    span.elements__status pending
        .elements__item
            .elements__symbol c
            a(href="#" data-status="pending").elements__unit
                .elements__str
                .elements__info
                    span.elements__name.js-name Jean-Ronel Corbier
                    span.elements__where Pediatric Neurology: Neurology
                    span.elements__subject BRAIN RESTORATION CLINIC
                    span.elements__status pending
            a(href="#" data-status="pending").elements__unit
                .elements__str
                .elements__info
                    span.elements__name.js-name Paul Corbier
                    span.elements__where Pediatric Neurology: Neurology
                    span.elements__subject BRAIN RESTORATION CLINIC
                    span.elements__status pending
        .elements__item
            .elements__symbol d
            a(href="#" data-status="pending").elements__unit
                .elements__str
                .elements__info
                    span.elements__name.js-name Brianna Dale
                    span.elements__where Registered Nurse
                    span.elements__subject BRAIN RESTORATION CLINIC
                    span.elements__status pending
        .elements__item
            .elements__symbol b
            a(href="#" data-status="confirmed").elements__unit
                .elements__str
                .elements__info
                    span.elements__name.js-name Jackie Bower
                    span.elements__where Executive Director
                    span.elements__subject Clean Label Project
                    span.elements__status confirmed
            a(href="#" data-status="pending").elements__unit
                .elements__str
                .elements__info
                    span.elements__name.js-name Lai Brooks
                    span.elements__where Advanced Practice Registered Nurse
                    span.elements__subject Lebonheur Comprehensive Epilepsy Program
                    span.elements__status pending
        .elements__item
            .elements__symbol c
            a(href="#" data-status="pending").elements__unit
                .elements__str
                .elements__info
                    span.elements__name.js-name Jean-Ronel Corbier
                    span.elements__where Pediatric Neurology: Neurology
                    span.elements__subject BRAIN RESTORATION CLINIC
                    span.elements__status pending
            a(href="#" data-status="pending").elements__unit
                .elements__str
                .elements__info
                    span.elements__name.js-name Paul Corbier
                    span.elements__where Pediatric Neurology: Neurology
                    span.elements__subject BRAIN RESTORATION CLINIC
                    span.elements__status pending
        .elements__item
            .elements__symbol d
            a(href="#" data-status="pending").elements__unit
                .elements__str
                .elements__info
                    span.elements__name.js-name Brianna Dale
                    span.elements__where Registered Nurse
                    span.elements__subject BRAIN RESTORATION CLINIC
                    span.elements__status pending
        .elements__item
            .elements__symbol more items
            a(href="#" data-status="pending").elements__unit
                .elements__str
                .elements__info
                    span.elements__name.js-name Brianna Dale
                    span.elements__where Registered Nurse
                    span.elements__subject BRAIN RESTORATION CLINIC
                    span.elements__status pending
            a(href="#" data-status="pending").elements__unit
                .elements__str
                .elements__info
                    span.elements__name.js-name Jean-Ronel Corbier
                    span.elements__where Pediatric Neurology: Neurology
                    span.elements__subject BRAIN RESTORATION CLINIC
                    span.elements__status pending
            a(href="#" data-status="confirmed").elements__unit
                .elements__str
                .elements__info
                    span.elements__name.js-name Jackie Bower
                    span.elements__where Executive Director
                    span.elements__subject Clean Label Project
                    span.elements__status confirmed
            a(href="#" data-status="pending").elements__unit
                .elements__str
                .elements__info
                    span.elements__name.js-name Long Test-Testovich Long Test-Testovich Long Test-Testovich
                    span.elements__where Advanced Practice Registered Nurse
                    span.elements__subject Lebonheur Comprehensive Epilepsy Program
                    span.elements__status pending
            a(href="#" data-status="confirmed").elements__unit
                .elements__str
                .elements__info
                    span.elements__name.js-name Jackie Bower
                    span.elements__where Executive Director
                    span.elements__subject Clean Label Project
                    span.elements__status confirmed
            a(href="#" data-status="pending").elements__unit
                .elements__str
                .elements__info
                    span.elements__name.js-name Lai Brooks
                    span.elements__where Advanced Practice Registered Nurse
                    span.elements__subject Lebonheur Comprehensive Epilepsy Program
                    span.elements__status pending
            a(href="#" data-status="pending").elements__unit
                .elements__str
                .elements__info
                    span.elements__name.js-name Andrey Shevtsov
                    span.elements__where Pediatric Neurology: Neurology
                    span.elements__subject BRAIN RESTORATION CLINIC
                    span.elements__status pending
            a(href="#" data-status="pending").elements__unit
                .elements__str
                .elements__info
                    span.elements__name.js-name Long Test-Testovich Long Test-Testovich Long Test-Testovich
                    span.elements__where Advanced Practice Registered Nurse
                    span.elements__subject Lebonheur Comprehensive Epilepsy Program
                    span.elements__status pending
        .hidden
