$color-main: #906090;
$color-black: #383838;
$color-grey: #737373;

body {
  font-family: $font;
}

h1 {
  font-size: 28px;
  line-height: 1.2;
  color: $color-black;
  text-transform: uppercase;
  font-weight: 300;
  transition: font-size 0.2s linear;
}

input,
textarea {
  border-radius: 3px;
  border: 1px solid #e9e9e9;
  background-color: #fdfdfd;
  font-size: 16px;
  color: $color-black;
  width: 100%;
  padding: 12px;
  outline: none;
}

input {
  height: 47px;
}

.content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  padding: 20px 0 10px;
  background-color: #fff;
  z-index: 10!important;
  &.active {
    .content__title,
    .content__filter {
      margin-bottom: 0;
    }
    h1 {
      font-size: 20px;
    }
    .btn--add {
      width: 28px;
      height: 28px;
      margin-left: 10px;
    }
  }
  &__title {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    transition: font-size 0.2s ease;
  }
  &__filter {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    transition: all 0.3s linear;
  }
  &__options {
    display: none;
    padding-top: 20px;
    width: 100%;
  }
  &__options-form {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  &__options-row {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
  &__options-item {
    max-width: 350px;
    width: 100%;
    &:not(:last-child) {
      margin-right: 20px;
    }
  }
  &__options-title {
    display: block;
    font-size: 12px;
    color: $color-grey;
    text-transform: uppercase;
    margin-bottom: 5px;
  }
}

.btn {
  cursor: pointer;
  position: relative;
  &--add {
    width: 40px;
    height: 40px;
    background-color: $color-main;
    border-radius: 50%;
    font-weight: 300;
    margin-left: 20px;
    border: 2px solid transparent;
    &:after,
    &:before {
      content: '';
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%,-50%);
      background-color: #fff;
      transition: background-color 0.2s ease;
    }
    &:before {
      width: 14px;
      height: 2px;
    }
    &:after {
      width: 2px;
      height: 14px;
    }
    &:hover {
      transition: all 0.2s ease;
      background-color: #fff;
      border-color: $color-main;
      &:before,
      &:after {
        background-color: $color-main;
      }
    }
  }
  &--filter {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 12px;
    color: $color-main;
    padding: 4px 12px;
    border: 1px solid $color-main;
    border-radius: 4px;
    transition: all 0.2s ease;
    &:not(:last-child) {
      margin-right: 10px;
    }
    svg {
      margin-right: 5px;
      fill: $color-main;
      transition: fill 0.2s ease;
    }
    &.active,
    &:hover {
      color: #fff;
      background-color: $color-main;
      svg {
        fill: #fff;
      }
    }
  }
}

.elements {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 20px;
  &__item {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
  &__symbol {
    display: flex;
    width: 100%;
    font-size: 24px;
    line-height: 1;
    font-weight: 300;
    color: $color-black;
    text-transform: uppercase;
    border-bottom: 1px solid #ccc;
    margin-bottom: 27px;
    padding: 0 0 5px 2px;
  }
  &__unit {
    position: relative;
    display: flex;
    max-width: 370px;
    padding-right: 30px;
    width: 100%;
    margin-bottom: 30px;
    text-decoration: none;
    &[data-status="confirmed"] .elements__status {
      color: #6a9347;
    }
    &[data-status="pending"] .elements__status {
      color: #faca66;
    }
    &:hover {
      .elements__str {
        background-color: $color-main;
        color: #fff;
      }
    }
  }
  &__str {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    border: 1px solid $color-main;
    border-radius: 4px;
    margin-right: 15px;
    color: $color-main;
    font-size: 18px;
    line-height: 1;
    text-transform: uppercase;
    transition: all 0.2s ease;
    span {

    }
  }
  &__info {
    display: flex;
    flex-direction: column;
    line-height: 1.2;
  }
  &__name {
    font-size: 18px;
    color: $color-main;
    margin-bottom: 3px;
    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translate(-50%);
      height: 1px;
      background-color: $color-main;
    }
  }
  &__where,
  &__subject {
    font-size: 12px;
    color: $color-grey;
  }
  &__subject {
    margin-bottom: 7px;
  }
  &__status {
    font-size: 10px;
    text-transform: uppercase;
    font-weight: 700;
  }
}

.icon {
  position: relative;
  svg {
    transition: fill 0.2s ease;
  }
  &--filter svg {
    width: 16px;
    height: 16px;
  }
  &--search {
    margin-left: 10px;
    line-height: 1;
    &:hover svg {
      fill: $color-main;
    }
    svg {
      width: 18px;
      height: 18px;
    }
  }
}

.select2.select2-container--default {
  width: 100%!important;
}

.select2-container--default .select2-selection {
  border-radius: 3px;
  border: 1px solid #e9e9e9;
  background-color: #fdfdfd;
  font-size: 16px;
  color: $color-black;
  width: 100%;
  height: 47px;
  outline: none;
}

.select2-container--default .select2-selection__rendered {
  width: 100%;
  padding: 12px!important;
  font-size: 16px!important;
  height: 100%;
  color: $color-black!important;
  line-height: normal!important;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: $color-main;
}
.select2-dropdown {
  border-radius: 3px;
  border: 1px solid #e9e9e9;
  background-color: #fdfdfd;
  font-size: 16px;
  color: $color-black;
  width: 100%;
  outline: none;
}

.select2-results__option {
  padding: 12px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  background: url("/img/svg/dropdown.svg") no-repeat center;
  height: 9px;
  position: absolute;
  top: 20px;
  right: 10px;
  width: 13px;
  opacity: .7;
  transition: transform 0.3s ease;
}

.select2-container--open .select2-selection__arrow {
  transform: rotate(-180deg);
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
  display: none;
}

.sticky-wrapper {
  transition: height 0.3s ease;
}

.hidden {
  opacity: 0;
  position: absolute;
  visibility: hidden;
  z-index: -1000;
  .content__title,
  .content__filter {
    margin-bottom: 0;
  }
  h1 {
    font-size: 20px;
  }
  .btn--add {
    width: 28px;
    height: 28px;
    margin-left: 10px;
  }
}
